{% extends "base.html" %}
{% block content %}
<div class="auth-container">
    <div class="auth-card">
        <h2>Login</h2>
        <p class="sub-text">
            welcome back to your ai resume account
        </p>
        <from method="post">
        <input type ="email" name="email" placeholder="Email" required>
        <input type ="password" name="password" placeholder="Password" required>
        <button type="submit">Login</button>
        <p class="swith-auth">
            Don't have an account? <a href="/signup">Sign Up</a>
        </p>
</from>
<div class="auth-links">
    <a href="/forgot-password">Forgot Password?</a>
    </div>
    <p class="switch-auth">
        <a href="/signup">Don't have an account? Sign Up</a>
    </p>
    </div>
</div>

{% endblock %}