{% extends "base.html" %}

{% block content %}
<div class="auth-container">
    <div class="auth-card">
        <h2>Create Account</h2>
        <p class="sub-text">
            start you ai resume journey
        </p>
        <from method="post">
        <input type ="email" name="email" placeholder="Email" required>
        <input type ="password" name="password" placeholder="Password" required>
        <p class="sub-text">use a 5-6 character password</p>
        <button type="submit">Sign Up</button>
        <p class="swith-auth">
            Already have an account? <a href="/login">Login</a>
        </p>


</from>
    </div>
</div>

{% endblock %}